.App {
  text-align: center;
}

body{
  background-image: url(./assets/Moon.svg);
}

h1 {
	color: rgba(97, 159, 202, 0.541);
	margin-bottom: 20px;
	animation: zogo ease-in 1s;
	font-size: 50px;
}
@keyframes zogo {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
