.App {
  text-align: center;
}

body{
  background-image: url(./assets/World\ Map\ \(1\).svg);
}

h1 {
	color: rgba(59, 131, 182, 0.541);
	margin-bottom: 20px;
	animation: zogo ease-in 1s;
}
@keyframes zogo {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
